{% load blogfilter %}
{% load static %}
<div class="row mt-3">
  <div class="col-md-2 d-none d-md-block">
    {% if comment.icon %}
      <img class="img-fluid lazy" data-original="{{ comment.icon.url }}">
    {% else %}
      <img class="img-fluid lazy" data-original="{% static 'blog/img/noimage.png' %}">
    {% endif %}
  </div>
  <div class="col-md-10">
      <h5>
        {{ comment.name }}
        <span class="badge badge-{{ mysite.color }} badge-pill">{% by_the_time comment.created_at %}</span>
        <span class="badge badge-{{ mysite.color }} badge-pill">{{ comment.created_at }}</span>
        <a href="{% url 'blog:recomment' comment.pk %}">返信する</a>
      </h5>
      {% for file in comment.files.all %}
        <a href="{% url 'blog:file_download' file.pk %}">添付ファイルダウンロード({{ file.get_filename }})</a><br>
      {% endfor %}
      {{ comment.text | linebreaksbr }}
      <!-- 返信コメント -->
      {% for recomment in comment.recomment_set.all %}
        <div class="row mt-3">
          <div class="col-md-2 d-none d-md-block">
            {% if recomment.icon %}
              <img class="img-fluid lazy" data-original="{{ recomment.icon.url }}">
            {% else %}
              <img class="img-fluid lazy" data-original="{% static 'blog/img/noimage.png' %}">
            {% endif %}
          </div>
          <div class="col-md-10">
              <h5>
                {{ recomment.name }}
                <span class="badge badge-{{ mysite.color }} badge-pill">{% by_the_time recomment.created_at %}</span>
                <span class="badge badge-{{ mysite.color }} badge-pill">{{ recomment.created_at }}</span>
              </h5>
              {% for file in recomment.files.all %}
                <a href="{% url 'blog:file_download' file.pk %}">添付ファイルダウンロード({{ file.get_filename }})</a><br>
              {% endfor %}
              {{ recomment.text | linebreaksbr }}
        
          </div>
        </div>
      {% endfor %}
      <!-- 返信コメントおわり -->
  </div>
</div>