{% load blogfilter %}
{% load static %}
<style>
    pre.prettyprint {
      white-space: pre;
    }
    .prettyprint ol.linenums > li {
      list-style-type: decimal; 
    }
</style>
<div class="card">
  <div class="card-header bg-{{ mysite.color }}">
    <h1 class="card-title text-white">{{ post.title }}</h1>
  </div>
  
  <div class="card-body">
      <span class="badge badge-{{ mysite.color }} badge-pill">{% by_the_time post.created_at %}</span>
      <span class="badge badge-{{ mysite.color }} badge-pill">{{ post.created_at }}</span>
      <br>
  
      <span class="badge badge-{{ mysite.color }}">
        <a class="text-white" href="{% url 'blog:category' post.category.name %}">{{ post.category.name }}</a>
      </span>
      <br>
  
      {% for tag in post.tag.all %}
        <span class="badge badge-{{ mysite.color }}">
          <a class="text-white" href="{% url 'blog:tag' tag.name %}">{{ tag.name }}</a>
        </span>
      {% endfor %}
      <hr>
  
      {% if user.is_authenticated %}
        <a href="{% url 'admin:blog_post_change' post.pk %}">管理画面へ</a>
        <hr>
      {% endif %}
    
    {{ post.text | linebreaksbr | blog }}
  </div>
  
  <div class="card-footer">
    <p>添付ファイル</p>
    {% for file in post.files.all %}
      <a href="{% url 'blog:file_download' file.pk %}">{{ file.title }} - {{ file.get_filename }}</a><br>
    {% endfor %}
  
    <p>関連記事</p>
    {% for post in post.friend_posts.all %}
      {% if post.is_publick %}
          <p><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a></p>
      {% endif %}
    {% endfor %}    
  
  </div>
</div>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>