*.pyc
*.pyo
.eggs
*.egg-info
.cache
.coverage
.tox

db.sqlite3
manage.py
manage2.py
Pipfile
Pipfile.lock

project/
project2/
media/
static/
dist/
build/
django_torina_blog.egg-info/
__pycache__


client_secrets.p12