{% extends 'blog/base.html' %}
{% load static %}
{% load blogfilter %}

{% block icon %}
<link rel="shortcut icon" href="{% static 'blog/img/favicon.ico' %}">
{% endblock %}


{% block nav %}
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="container">
  <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block nav_home %}{% endblock %}">
          <a class="nav-link" href="{% url 'blog:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block nav_tag_list %}{% endblock %}" href="{% url 'blog:tag_list' %}">All Tag</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="{% url 'blog:feed' %}" rel="nofollow">Feed</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:private' %}" rel="nofollow">Private</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{% url 'admin:index' %}" rel="nofollow">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:ping' %}" rel="nofollow">Ping</a>
          </li>
        {% endif %}
      </ul>
      <form action="{% url 'blog:index' %}" method="GET" class="form-inline float-right">
        {{ global_form.keyword }}
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endblock %}

{% block header %}
<div class="jumbotron">
  <div class="container">
    <p class="display-4">{{ mysite.title }}</p>
    <p class="lead text-muted">このブログはDjangoとBootstrap4で作成されました<br>
      <a href="https://github.com/naritotakizawa/django-torina-blog" target="_blank" rel="nofollow">ソースコード</a>
    </p>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8">
      {% block content %}
      {% endblock %}
    </div>
    <div class="col-12 col-sm-3 offset-sm-1">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          All Category
        </a>
        {% for category in categories %}
        <a class="list-group-item" href="{% url 'blog:category' category.name %}">
          {{ category.name }}
        </a>
        {% endfor %}
      </div>

      <div class="list-group mt-5">
        <a href="#" class="list-group-item active">
          Tag
        </a>
        {% for tag in tags  %}
        <a class="list-group-item" href="{% url 'blog:tag' tag.name %}">
            {{ tag.name }}({{ tag.num_posts }})
        </a>
        {% endfor %}
        <a href="{% url 'blog:tag_list' %}" class="list-group-item">
          >>> 全てのタグを見る
        </a>
      </div>

      <div class="list-group my-5">
        <a href="#" class="list-group-item active">
          Link
        </a>
        {% for link in links  %}
        <a class="list-group-item" href="{{ link.adrs }}" target="_blank" rel="nofollow">
            {{ link.name }}
        </a>
        {% endfor %}
      </div>
      <div class="hidden-sm-down list-group my-5">
        <a href="#" class="list-group-item active">
          Comment
        </a>
        {% for comment in comments  %}
        <a class="list-group-item" href="{% url 'blog:detail' comment.target.pk %}#comment-area">
            <span class="badge badge-primary badge-pill">{% by_the_time comment.created_at %}</span>
            &nbsp;by&nbsp;{{ comment.name }}
        </a>
        {% endfor %}    
      
      </div>
      {% for ad in ads %}
        {{ ad.html | safe }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="text-center bg-primary">
  <div class="container">
    <p class="text-white">Copyright {{ mysite.author }} All Rights Reserved.</p>
    <p><a href="mailto:{{ mysite.author_mail }}" rel="nofollow">{{ mysite.author_mail }}</a></p>
  </div>
</footer>
{% endblock %}

{% block analytics %}
  {% for anal in analytics %}
    {{ anal.html | safe }}
  {% endfor %}
{% endblock %}
