{% extends "blog/main_layout.html" %}
{% load static %}
{% load blogfilter %}
{% block meta_des %}コメント投稿ページ - {{ mysite.title }}{% endblock %}
{% block title %}コメント投稿ページ - {{ mysite.title }}{% endblock %}

{% block bread%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'blog:index' %}">記事一覧</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog:category' post.category.name %}">{{ post.category.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a></li>
    <li class="breadcrumb-item">コメント</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
{{ form.non_field_errors }}
<form action="" method="POST" enctype='multipart/form-data'>
  {% for field in form %}
    <div class="form-group">
      {{ field.errors }}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
    </div>
  {% endfor %}<!-- コメント部分のフォーム終わり -->

  {{ formset.management_form }}
  {% for form in formset %}
    {{ form.id }}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}<!-- 1つのファイルフォーム終わり -->

  {% endfor %}<!-- formset終了 -->
  {% csrf_token %}
  <button class="btn btn-{{ mysite.color }}" type="submit">コメントする</button>
  <a class="btn btn-{{ mysite.color }}" href="{% url 'blog:detail' post.pk %}" rel="nofollow">戻る</a>
</form>

{% endblock %}
