{% extends "blog/custom_site.html" %}
{% load static %}
{% load blogfilter %}

{% block meta_des %}
  {% if post.description %}
    {{ post.description }}
  {% else %}
    {{ post.title}} - {{ mysite.title }}
  {% endif %}

{% endblock %}

{% block title %}{{post.title}} - {{ mysite.title }}{% endblock %}

{% block extrajs %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=doxy"></script>
{% endblock %}

{% block extracss %}
<style>
    .prettyprint ol.linenums > li { list-style-type: decimal; }
</style>
{% endblock %}

{% block bread%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'blog:index' %}">記事一覧</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog:category' post.category.name %}">{{ post.category.name }}</a></li>
    <li class="breadcrumb-item">{{ post.title }}</li>
  </ol>
</nav>
{% endblock %}


{% block content %}
<article class="card">
  <div class="card-header bg-{{ mysite.color }}">
    <h1 class="card-title text-white">{{ post.title }}</h1>
  </div>

  <div class="card-block p-2">
    <span class="badge badge-{{ mysite.color }}">
      <a class="text-white" href="{% url 'blog:category' post.category.name %}">{{ post.category.name }}</a>
    </span>
    {% for tag in post.tag.all %}
      <span class="badge badge-{{ mysite.color }}">
        <a class="text-white" href="{% url 'blog:tag' tag.name %}">{{ tag.name }}</a>
      </span>
    {% endfor %}
    
      <span class="badge badge-{{ mysite.color }} badge-pill text-white">{% by_the_time post.created_at %}</span>
      <br>
      <span class="text-muted">{{ post.created_at }}</span>

    {% if user.is_authenticated %}
      <p>
        <a href="{% url 'admin:blog_post_change' post.pk %}">管理画面へ</a>
      </p>
    {% endif %}
    <hr>
    
    {{ post.text | linebreaksbr | blog }}
  </div>

  <div class="card-footer">

    {% if post.get_prev %} 
    <p>前の記事
    <a href="{% url 'blog:detail' post.get_prev.pk %}">{{ post.get_prev.title }}</a>
    </p>
    {% endif %}

    {% if post.get_next %} 
    <p>次の記事
    <a href="{% url 'blog:detail' post.get_next.pk %}">{{ post.get_next.title }}</a>
    </p>
    {% endif %}

    <p>添付ファイル</p>
    {% for file in post.file_set.all %}
       <p><a href="{{ file.src.url }}" download="{{ file.get_filename }}">{{ file.title }}</a></p>
    {% endfor %}

    <p>関連記事</p>
    {% for post in post.friend_posts.all %}
      {% if post.is_publick %}
          <p><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a></p>
      {% endif %}
    {% endfor %}    

  </div>
</article>

<div id="comment-area">
<!-- コメント一覧 -->
{% for comment in post.comment_set.all %}
<div class="media m-3">
  {% if comment.icon %}
    <img class="d-flex mr-3 icon" src="{{ comment.icon.url }}">
  {% else %}
    <img class="d-flex mr-3 icon" src="{% static 'blog/img/noimage.png' %}">
  {% endif %}
  <div class="media-body">
    <h5 class="mt-0">
      <span class="badge badge-{{ mysite.color }} badge-pill">{% by_the_time comment.created_at %}</span>
      {{ comment.name }}
      <span class="lead text-muted">{{ comment.created_at }}</span>
      <a href="{% url 'blog:recomment' comment.pk %}">返信する</a>
    </h5>
    {{ comment.text | linebreaksbr }}
    <!-- 返信コメント -->
    {% for recomment in comment.recomment_set.all %}
        <div class="media m-3">
          {% if recomment.icon %}
            <img class="d-flex mr-3 icon" src="{{ recomment.icon.url }}">
          {% else %}
            <img class="d-flex mr-3 icon" src="{% static 'blog/img/noimage.png' %}">
          {% endif %}
          <div class="media-body">
            <h5 class="mt-0">
              <span class="badge badge-{{ mysite.color }} badge-pill">{% by_the_time recomment.created_at %}</span>
              {{ recomment.name }}
              <span class="lead text-muted">{{ recomment.created_at }}</span>
            </h5>
            {{ recomment.text | linebreaksbr }}
          </div>
        </div>    

    {% endfor %}
    <!-- 返信コメントおわり -->
  </div>
</div>
{% endfor %}
</div>

<div class="text-center my-5">
  <a class="btn btn-{{ mysite.color }} btn-lg text-white" href="{% url 'blog:comment' post.pk %}" rel="nofollow">コメントページへ</a>
</div>

{% endblock %}
