{% extends "blog/custom_site.html" %}
{% load static %}
{% load blogfilter %}
{% block meta_des %}{{ mysite.description }}{% endblock %}

{% block title %}
    {% if tag %}
        {{ tag.name }} | {{ mysite.title }}
    {% elif category %}
        {{ category.name }} | {{ mysite.title }}
    {% else %}
        {{ mysite.title }}
    {% endif %}
{% endblock %}

{% block nav_home %}active{% endblock %}

{% block content %}

{% if tag %}
<div class="alert alert-success" role="alert">
  <h1 class="alert-heading">{{ tag.name }}</h1>
  {{ tag.description | linebreaksbr | blog }}
</div>
{% endif %}

{% if category %}
<div class="alert alert-success" role="alert">
  <h1 class="alert-heading">{{ category.name }}</h1>
  {{ category.description | linebreaksbr | blog }}
</div>
{% endif %}

  {% for post in post_list %}
    <div class="mb-5 card card-outline-primary">
      <div class="card-header bg-primary">
        <h2 class="card-title text-white">{{ post.title }}</h2>
      </div>
      <div class="card-block row">
        <div class="col-xs-12 col-sm-6 text-center">
          {% if post.thumnail %}
            <a href="{{ post.thumnail.url }}" target="_blank" rel="nofollow"><img class="img-fluid" src="{{ post.thumnail.url }}"></a>
          {% else %}
            <img class="img-fluid" src="{% static 'blog/img/noimage.png' %}">
          {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6">
          <span class="badge badge-info">
            <a class="text-white" href="{% url 'blog:category' post.category.name %}">{{ post.category.name }}</a>
          </span>

          {% for tag in post.tag.all %}
            <span class="badge badge-success">
              <a class="text-white" href="{% url 'blog:tag' tag.name %}">{{ tag.name }}</a>
            </span>
          {% endfor %}
          <span class="badge badge-primary badge-pill">{% by_the_time post.created_at %}</span>
          <br>
          <span class="text-muted">{{ post.created_at }}</span>

          {% if user.is_authenticated %}
            <p>
              <a href="{% url 'admin:blog_post_change' post.pk %}">管理画面へ</a>
            </p>
          {% endif %}
          <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'blog:detail' post.pk %}">続きを読む</a>
        </div>
      </div>
    </div>
  {% endfor %}

  {% include "blog/page.html" %}

{% endblock %}
