{% extends "blog/custom_site.html" %}
{% load static %}
{% load blogfilter %}

{% block meta_des %}
    {% if tag %}
      {{ mysite.title }}の、タグ: {{ tag.name }} の検索結果一覧です。
    {% elif category %}
      {{ mysite.title }}の、カテゴリー: {{ category.name }} の検索結果一覧です。
    {% else %}
        {{ mysite.description }}
    {% endif %}
{% endblock %}

{% block title %}
    {% if tag %}
        {{ tag.name }} | {{ mysite.title }}
    {% elif category %}
        {{ category.name }} | {{ mysite.title }}
    {% else %}
        {{ mysite.title }}
    {% endif %}
{% endblock %}

{% block bread %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'blog:index' %}">記事一覧</a></li>
    {% if tag %}
        <li class="breadcrumb-item">{{ tag.name }}</li>
    {% elif category %}
        <li class="breadcrumb-item">{{ category.name }}</li>
    {% endif %}
  </ol>
</nav>
{% endblock %}

{% block content %}

  {% for post in post_list %}
    <article class="mb-5 card">

      <div class="card-header bg-{{ mysite.color }}">
        <h1 class="card-title text-white">{{ post.title }}</h1>
      </div><!-- card-header終了 -->

      <div class="card-body row">
        <!-- card-bodyの左側 -->
        <div class="col-xs-12 col-sm-6 text-center">
          {% if post.thumnail %}
            <a href="{{ post.thumnail.url }}" target="_blank" rel="nofollow"><img class="img-fluid" src="{{ post.thumnail.url }}"></a>
          {% else %}
            <img class="img-fluid" src="{% static 'blog/img/noimage.png' %}">
          {% endif %}
        </div><!-- card-bodyの左側終わり -->

        <!-- card-bodyの右側 -->
        <div class="col-xs-12 col-sm-6">
          <span class="text-muted">{{ post.created_at }}</span>
          <span class="badge badge-{{ mysite.color }} badge-pill text-white">{% by_the_time post.created_at %}</span>
          <br>

          <span class="badge badge-{{ mysite.color }}">
            <a class="text-white" href="{% url 'blog:category' post.category.name %}">{{ post.category.name }}</a>
          </span>
          <br>

          {% for tag in post.tag.all %}
            <span class="badge badge-{{ mysite.color }}">
              <a class="text-white" href="{% url 'blog:tag' tag.name %}">{{ tag.name }}</a>
            </span>
          {% endfor %}
          <hr>

          <a class="btn btn-outline-{{ mysite.color }} btn-lg btn-block" href="{% url 'blog:detail' post.pk %}">続きを読む</a>
          <br>

          {% if user.is_authenticated %}
            <a href="{% url 'admin:blog_post_change' post.pk %}">管理画面へ</a>
          {% endif %}
        </div><!-- card-bodyの右側おわり -->

      </div><!-- card-body終了 -->
    </article>
  {% endfor %}

  {% include "blog/page.html" %}

{% endblock %}
