{% extends "blog/main_layout.html" %}
{% load static %}
{% load blogfilter %}
{% block meta_des %}{{ mysite.title }}のタグ一覧ページです。{% endblock %}
{% block title %}タグ一覧 | {{ mysite.title }}{% endblock %}

{% block bread%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'blog:index' %}">記事一覧</a></li>
    <li class="breadcrumb-item">タグ一覧</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
  {% for tag in tag_list %}
    <p><a href="{% url 'blog:tag' tag.name %}">{{ tag.name }}({{ tag.num_posts }})</a></p>
    <hr>
  {% endfor %}
{% endblock %}
